<%= form_for([@post, @post.comments.build]) do |c| %>
  <div class="form-group col-md-6">
    <%= c.label :name %>
    <%= c.text_field :name, class: "form-control", placeholder: 'Please enter your name.' %>
  </div>
  <div class="form-group col-md-12">
    <%= c.label :message %>
    <%= c.text_area :message, class: "form-control", placeholder: 'Please enter your Comment.', rows: '10' %>
  </div>
  <div class="form-group col-md-12">
    <%= c.submit :Publish, class: 'btn btn-sm btn-success' %>
  </div>
<% end %>