<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    
    <h5>The following <%= pluralize(obj.errors.count, 'error') %> preventing this post to be saved!<h5>
    <% obj.errors.full_messages.each do |msg| %>
      <ul>
      <li><%= msg %></li>
      </ul>
    <% end %>
  </div>
<% end %>

