<footer class="bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">
        <p class="mb-0 py-1">All right reserved &copy; 2019 smehsan.</p>
      </div>  
    </div>  
  </div>
</footer>