<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to  "Branding", root_path, class: 'navbar-brand font-weight-bold' %>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex w-100" id="collapsibleNavId">
      <ul class="navbar-nav w-75 justify-content-end">
        <%= form_tag blog_path, :class => 'form-inline w-75', :method => 'get' do  %>
          <%= text_field_tag :search, '', class: 'form-control mr-sm-2 w-75', placeholder: 'Search' %>
          <%= submit_tag "Search", name: nil, class: 'btn btn-primary'%>
        <% end %>
      </ul>
      <ul class="navbar-nav w-50 justify-content-end">
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(about_path) %>">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(blog_path) %>">
          <%= link_to 'Blog', blog_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? && current_user %>
            <%= current_user.username %>
            <% else %>
            Action
            <% end %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <% if user_signed_in? %>
              <%= link_to  "Create Post", new_post_path(@post), class: 'dropdown-item' %>
              <%= link_to  "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            <% else %>
              <%= link_to  "Sign In", new_user_session_path, class: 'dropdown-item' %>
              <%= link_to  "Sign Up", new_user_registration_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>