<div class="row">
  <div class="col-md-12">
    <div class="jumbotron mt-5 bg-success text-center">
      <h1 class="display-3 font-weight-bold">Welcome to our About Page.</h1>
      <p class="lead">This is a simple blog built with ruby on rails. cause i love RoR!</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="Jumbo action link" role="button">Sign Up</a>
      </p>
    </div>
  </div>
</div>
<% #end of jumbotron %>