<div class="row mt-5">
  <% @posts.each do |post| %>
  <div class="col-md-8 offset-md-2 mb-5">
    <div class="card">
      <% if post.thumbnail.attached? %>
        <div class="bg-img">
          <%= image_tag post.thumbnail %>
        </div>
      <% else %>
        <div class="bg-img">
          <%= image_tag('Ruby_On_Rails_Logo.svg.png') %>
        </div>
      <% end %>
      <div class="card-body">
        <h4 class="card-title font-weight-bold"><%= link_to post.title, post_path(post) %></h4>
        <div class="content card-tex text-secondary">
          <%= post.content.html_safe %>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-8">
            <span class="badge badge-secondary">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
            <strong>
              <span class="badge badge-secondary">In Category: <%= post.category.name %></span>
            </strong>
            <span class="badge badge-warning">Author: <%= post.user.username %></span>
          </div>
         
          <div class="col-md-4 text-right">
            <%= link_to 'View', post_path(post), class: 'badge badge-secondary' %>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to 'Edit', edit_post_path(post), class: 'badge badge-primary' %>
              <%= link_to 'Delete', post_path(post), method: :delete, data:{Confirm: "Are you sure?"}, class: 'badge badge-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="row d-flex justify-content-center mt-5">
  <div class="col-6">
    <%= will_paginate @posts, 
      :list_classes => ['pagination justify-content-center'], 
      :aria_label => 'Page Navigation', 
      :previous_label => '&laquo;', 
      :next_label => '&raquo;' 
      %>
  </div>
</div>
<div class="row d-flex justify-content-center mt-5">
  <div class="col-6">
    <div class="bg-dark text-center text-white">
      <h6 class="mb-0 py-2">
        Total number of posts published: 
        <strong><%= @posts.count %></strong>
      </h6>
    </div>
  </div>
</div>
