<div class="row">
  <div class="col-md-12">
    <div class="jumbotron mt-5 bg-success text-center">
      <h1 class="display-3 font-weight-bold">Welcome to our blog.</h1>
      <p class="lead">This is a simple blog built with ruby on rails. cause i love RoR!</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <%= link_to  "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-sm' %>
      </p>
    </div>
  </div>
</div>
<% #end of jumbotron %>

<div class="row">
  <div class="col-md-12">
    <h2>Recent Posts</h2>
  </div>
</div>
<div class="row">
  <% @posts.each do |post| %>
  <div class="col-md-6 mb-5">
    <div class="card">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">
          <%= link_to post.title, post_path(post) %>
        </h4>
        <div class="content card-tex text-secondary">
          <%= post.content.html_safe %>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-8">
            <span class="badge badge-secondary">Posted 
              <%= time_ago_in_words(post.created_at) %> ago.
            </span>
            <strong>
              <span class="badge badge-secondary">In Category: 
                <%= post.category.name %>
              </span>
            </strong>
          </div>
          <div class="col-md-4 text-right">
            <%= link_to  "View", post_path(post), class: 'badge badge-secondary' %>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to  "Edit", edit_post_path(post), class: 'badge badge-primary' %>
              <%= link_to  "Delete", post_path(post), method: :delete, data: {Confirm: "Are you sure?"}, class: 'badge badge-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>