<%= render  "shared/errors", obj: @post %>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= label_tag(:title, "Title:") %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Post title' %>
  </div>
  <div class="form-group">
    <%= label_tag(:thumbnail, "Thumbnail:") %>
    <%= f.file_field :thumbnail %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= link_to  "Create New Category", new_category_path(@category), class: 'btn btn-sm btn-primary' %>
  </div>
  <div class="form-group">
    <%= label_tag(:content, "Post Content:") %>
    <%= f.text_area :content, class: 'tinymce form-control', size: "10x10", placeholder: 'Post Content' %>
  </div>
  <%= f.submit(@post.new_record? ? 'Publish' : "Update", class: 'btn btn-sm btn-primary') %>
  <%= link_to 'cancle', posts_path, class: 'btn btn-sm btn-danger' %>
<% end %>
<%= tinymce %>