<div class="row my-5">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th class="text-dark-50 text-center" width="10%">Post ID</th>
          <th class="text-dark-50 text-center">Post Title</th>
          <th class="text-dark-50 text-center">Post Content</th>
          <th class="text-dark-50 text-center">Category</th>
          <th class="text-dark-50 text-center" colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td scope="row" class="font-weight-bold">
            <%= post.id %>
          </td>
          <td class="font-weight-bold">
            <%= link_to post.title, post_path(post) %>
          </td>
          <td class="font-weight-bold">
            <div class="content card-tex font-weight-bold text-secondary">
              <%= post.content.html_safe %>
            </div>
          </td>
          <td><%= post.category && post.category.name %></td>
          
          <td class="font-weight-bold">
            <%= link_to 'View', post_path(post), class: 'btn btn-sm btn-success' %>
          </td>
          <% if user_signed_in? && current_user.id == post.user_id %>
          <td class="font-weight-bold">
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-info' %>
          </td>
          <td class="font-weight-bold">
            <%= link_to 'Delete', post_path(post), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>