<div class="row my-5">
  <div class="col-md-10 offset-md-1">
    <h1 class="font-weight-bold"><%= @post.title %></h1>
    <article class="article text-secondary">
      <%= simple_format(@post.content) %>
    </article>
    <div class="col text-right">
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'badge badge-primary' %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data:{Confirm: "Are you sure?"}, class: 'badge badge-danger' %>
      <% end %>
      <%= link_to 'Back To Blog', blog_path, class: 'badge badge-warning' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <hr>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-10 offset-md-1">
    <% @post.comments.each do |c| %>
      <div class="card text-left mb-3">
        <div class="card-body">
          <h4 class="card-title">Comment By: <%= c.name %></h4>
          <p class="card-text"><%= c.message %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Delete', post_comment_path(@post, c), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-10 offset-md-1">
    <div class="jumbotron bg-dark-light">
      <h3>Add Comment</h3>
      <%= render  "comments/form" %>
    </div>
  </div>
</div>