// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// BLog Page styling

.bg-img {
  max-height: 250px;
  overflow: hidden;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    opacity: .5;
  }
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #dedede;
  height: 1px;
  width: 100%;
}