<%= render 'shared/errors', obj: @cat %>
<%= form_for @cat do |c| %>
  <div class="form-group">
    <%= label_tag(:name, "Name:") %>
    <%= c.text_field :name, class: 'form-control', placeholder: 'Category Name' %>
  </div>
  <div class="form-group">
    <%= label_tag(:content, "Category Description:") %>
    <%= c.text_area :content, class: 'form-control', size: "10x10", placeholder: 'Category Description' %>
  </div>
  <%= c.submit(@cat.new_record? ? 'Publish' : "Update", class: 'btn btn-sm btn-primary') %>
  <%= link_to 'cancle', categories_path, class: 'btn btn-sm btn-danger' %>
<% end %>