<div class="row my-5">
  <div class="col-md-10">
    <table class="table table-striped table-dark">
      <thead class="thead-inverse">
        <tr>
          <th>Category ID</th>
          <th>Category Name</th>
          <th>Category Description</th>
          <th>Publish Time</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <% @cats.each do |c| %>
          <tr>
            <td scope="row"><%= c.id %></td>
            <td><%= c.name %></td>
            <td><%= c.content %></td>
            <td><%= c.created_at.strftime('%A, %b %d') %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to  "View", category_path(c), class: 'btn btn-primary' %>
                <%= link_to  "Edit", edit_category_path(c), class: 'btn btn-secondary' %>
                <%= link_to  "Delete", category_path(c), method: :delete, data: {Confirm: "Are you sure?"}, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <%= link_to  "Create New Category", new_category_path(@cat), class: 'btn btn-primary btn-sm' %>
  </div>
</div>