<% flash.each do |name, msg| %>
<div class="alert alert-<%= "#{name}" %> alert-dismissible fade show mt-5" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <strong><%= msg %></strong>
</div>
<% end %>

