<!DOCTYPE html>
<html>
  <head>
    <title>Appone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "shared/navbar" %>
    <div class="container pt-5">
      <%= render  "layouts/messages" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
